.toggle-button {   
    align-items: center;   
    background: transparent; 
    border: 1px solid #c9a959;
    border-radius: 13%;
    box-sizing: border-box;    
    cursor: zoom-in;                                                                                 
    display: flex;
    flex-direction: column;
    height: 34px; 
    justify-content: space-around;
    position: absolute;
    padding: 0;
    right: 0;
    width: 34px;
}

.toggle-button:focus { 
    outline: none; 
}

.toggle-button_line {
    background: #c9a959;
    height: 2px;
    line-height:1px;
    margin:0;
    width: 15px;
}

.coloricon {
    color: #c9a959;
}
