.barprogress{
    padding: 1.25rem 2rem;
    text-align: center;
  
  }
  .paper {
    background-color:#f8f9fa;
    padding: 10rem 0rem 5rem 0rem;
  
  }
  .paper-titre.card
  {
    font-family: Nunito,sans-serif;
      letter-spacing: .0625em;
    border: 0px;
    background-color:#f8f9fa;
  }
  .paper-titre.row {
    font-family: Nunito,sans-serif;
      letter-spacing: .0625em;
  }
  
  .progress-bar{
    background-color: #161616;
  }