.social-button {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255,255,255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255,255,255, 0.3);
    margin-left: .5rem!important;
    margin-right: .5rem!important;
}

.social-button:hover {
    color: rgba(255,255,255,.5);
}