/* GENERAL TAG CSS */
@font-face {
    font-family: 'Varela Round', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap") format("woff2"),
}

// .display-container {
//     padding-bottom: 30px;
//     padding-left: 80px;
//     // ADD ON SCSS PAGE
//     background-color: #f1f1f1;
//     font-family: 'Nunito', sans-serif;
//     font-size: 1rem !important;
//     letter-spacing: 0.0625em;
// }