.turn-off-logo {
    font-size: 1.2em;
    margin-right: 0.5em;
}

.buttondeco {
    border-radius: .25rem !important;
    margin: 20px 10px !important;
    padding: 10px 20px !important;
    font-family: inherit !important;
    background-color:  #C9A959 !important;

}