.titreabout {
    padding:  0 0 50px 0;
    text-align: center;
}
.buttonabout{
    justify-content: center;
    display: flex;
}
.test {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #C9A959;
}