
@import "../../../../assets/scss/variables.scss";

.contact-container .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-bottom: .25rem solid $primary-color;
    margin: 0em 1em;
    padding: 1.5rem 0 !important;
    width: 350px;

    &-title {
        font-size: .8rem;
        letter-spacing: .15rem;
        font-weight: 500;
        line-height: 1.2;
        font-family: 'Varela Round',sans-serif;
    }

    &-subtitle {
        font-size: 80%;
        font-weight: 400;
        color: rgba(0,0,0,.5) !important;
    }

    hr {
        border-color: $primary-color;
        border-width: .25rem;
        width: 3rem;
        margin-bottom: 1.5rem !important;
        margin-top: 1.5rem !important;
    }

    i {
        margin-bottom: .5rem!important; 
    }

    a {
        margin-bottom: .5rem!important;
        color: $primary-color !important;
    }

    .text-primary {
        color: $primary-color !important;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    
    .contact-container .card {
        margin: 0.5em 0em ;
        width: 100%;
    }

}