.project .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #C9A959;
  }




  
  .project .featured-text {
      padding: 2rem;
    }


  .project .project-text {
    padding: 5rem;
  }







  
  .project .project-text hr {
    border-color: #C9A959;
    border-width: .25rem;
    width: 30%;
  }

.project {
    font-family: Nunito,sans-serif;
    letter-spacing: .0625em;
    padding: 10rem 0;
  }
  
  .project .project-text {
    padding: 3rem;
    font-size: 90%;
  }

  