body{
    margin:0;
}
.burger-btn {
    display: none;
  }
  
  
.header_header{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
    // height: 7.5%;   
}

.header_header_white{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_link{
    color: white;
    font-family: nunito;
    font-size: 16px;
    letter-spacing: .0625em;
    text-decoration: none;
}

.header_link_black{
    color: black;
    font-family: nunito;
    font-size: 16px;
    letter-spacing: .0625em;
    text-decoration: none;
}

.header_link_black:hover{
    color: #C9A959;
    text-decoration: none;

}

.header_link_gold{
    color: #C9A959;
    font-family: nunito;
    font-size: 16px;
    letter-spacing: .0625em;
    text-decoration: none;
}

.header_link:hover {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
}

.header_link_gold:hover {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
}

.header_link_div{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.selected{
    border-bottom: 0.25rem solid #C9A959;
}

.side-nav{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    width: 100%;
}

@media (max-width: 980px) {
    .header_header{
        background-color: white;
    }

    .header_link_div {
        display: none;
    }

    .header_link {
        color: black;
    }

    .burger-btn {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: absolute;
        right: 0; 
    }

    .header_link:hover {
        color: black;
    }

    .header_link_black:hover{
        color: black;
        text-decoration: none;
    
    }
    
    .header_link_gold:hover {
        color:  #C9A959;
    }

    .selected{
        display: none;
    }
}


@media (min-width: 980px) {
    .side-nav {
        display: none;
    }
}

