


.dropdownitemheader {
    color: #C9A959;
    font-family: nunito;
    font-size: 16px;
    letter-spacing: .0625em;
    text-decoration: none;
    text-align: center

}

.dropdownitemdrop {
    color: #C9A959;
    font-family: nunito;
    font-size: 16px;
    letter-spacing: .0625em;
    text-decoration: none;

}

.dropdown-menu.show{
    border: 1px solid rgb(201, 169, 89);
    background-color:#f8f8f8;
}

.dropdown-divider {
   
    border-top: 1px solid #161616;
}
