.ColDashBoard{
  border-radius: .25rem;
  border-bottom: 0.25rem solid #c9a959;
  
}



.btn{
  background-color: #C9A959;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem 2rem;
  font-family: 'Varela Round', sans-serif;
  font-size: 80%;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .15rem;
  border: 0;
  width: 100%;

}
.btn-secondary{
  background-color: #C9A959;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem 2rem;
  font-family: 'Varela Round', sans-serif;
  font-size: 80%;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .15rem;
  border: 0;
  width: 100%;

}
.CardColDashBoard { position: 'absolute';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-attachment: 'cover';
 background-position:  'center 40%';
  
  background-color: #161616!important;

}