@import "../../../assets/scss/variables.scss";

.check-button {
    background-color: $primary-color !important;

    a, a:hover, a:visited {
        text-decoration: none !important;
        color: inherit;
    }


    &-verified {
        margin: 0;

        i {
            color: green;
            font-size: 1.2em;
        }
    }
 
}

.check-button:disabled {
    opacity: 0.2 !important;
}