body {
    letter-spacing: 0.025em;
    font-family: Nunito,sans-serif;
    min-height: 13vh;
    font-size: calc(6px + 1vmin);
    text-align: center;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
  }

.container-form-login{
    padding: 15rem 5rem 5rem;
    color: #212529;
    margin: auto;
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
    grid-template-rows: repeat(7, auto);
    font-family: Nunito, sans-serif;
    letter-spacing: .0625em;
    font-size: 1rem;
    background-color: #f1f1f1;
}


.label-email-login{
    grid-column-start: 1;
    grid-column-end: 2;
    display: inline-block;
    margin-bottom: .9rem;
    font-weight: 400;
}


.input-email-login{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
}

.group-email{
    display: flex;
    flex-direction: row;
}

.label-password-login{
    grid-column-start: 1;
    grid-column-end: 2;
    font-weight: 400;
    display: inline-block;
    margin-bottom: .9rem;
}

.input-password-login{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}

.input-checkbox-login{
    grid-column-start: 1;
    grid-column-end: 2;
    display: inline-block;
    margin: auto;
    font-weight: 400;
}

.button-login{
    grid-column-start: 1;
    grid-column-end: 2;
}

.container-form-login::placeholder{
    color: #6c757d;
    opacity: 1;
}

@media screen and (max-width: 750px)
{
    .container-form-login{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        color:#212529;
        font-family: Nunito, sans-serif;
        text-align: center;
        letter-spacing: .0625em;
        font-size: 1rem;
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 5rem;
    }
}