
  .project-section {
    font-family: Nunito,sans-serif;
    letter-spacing: .0625em;
    padding: 10rem 0;
   
  }
  .project-section .video-fluid {
    width: 100%;
    height: 450px;
  }
  .project-section .card 
   {
       background-color:#f8f9fa;
       border:0;
   }


@media (min-width: 992px)
{
   
  .project-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #C9A959;
  }
  }

  .cardtitleinformation{
    color: #C9A959;
    background-color: #161616;
  text-align: center;
  }
  .phonesquarealtsolid
{
  background-size: 30px 30px;
  color: #212529;
  max-height: 30px;
  max-width: 30px;
}

  